<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person page</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getDateOfBirth()}">VALUE</p>

<div th:if="${books.isEmpty()}">
    This user has no any book in rent
</div>
<div th:unless="${books.isEmpty()}">
    <hr/>
    This user currently has books on rent:
    <br/>
    <div th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
                th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></a>
    </div>
</div>
<br>
<hr/>
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
  <input type="submit" value="Delete">
</form>
</body>
</html>